<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging" requirePermission="true"/>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data" requirePermission="true"/>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="UnisoftERS.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="devExpress">
      <section name="themes" type="DevExpress.Web.ThemesConfigurationSection, DevExpress.Web.v20.1, Version=20.1.10.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
      <section name="compression" type="DevExpress.Web.CompressionConfigurationSection, DevExpress.Web.v20.1, Version=20.1.10.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
      <section name="settings" type="DevExpress.Web.SettingsConfigurationSection, DevExpress.Web.v20.1, Version=20.1.10.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
      <section name="errors" type="DevExpress.Web.ErrorsConfigurationSection, DevExpress.Web.v20.1, Version=20.1.10.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
      <section name="resources" type="DevExpress.Web.ResourcesConfigurationSection, DevExpress.Web.v20.1, Version=20.1.10.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <loggingConfiguration name="Logging Application Block" tracingEnabled="true" defaultCategory="Database" logWarningsWhenNoCategoriesMatch="true">
    <listeners>
      <!--<add name="CauseLoggingError" type="Microsoft.Practices.EnterpriseLibrary.Logging.Database.FormattedDatabaseTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging.Database" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Database.Configuration.FormattedDatabaseTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging.Database" databaseInstanceName="DoesNotExist" writeLogStoredProcName="WriteLog" addCategoryStoredProcName="AddCategory" formatter="" traceOutputOptions="None" filter="All"/>-->
      <add name="Database Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.Database.FormattedDatabaseTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging.Database" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Database.Configuration.FormattedDatabaseTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging.Database" databaseInstanceName="Logging_DB" writeLogStoredProcName="WriteLog" addCategoryStoredProcName="AddCategory" formatter="Text Formatter" traceOutputOptions="None" filter="All"/>
      <add name="FlatFile TraceListener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging" fileName="C:\Temp\FlatFile.log" header="----------------------------------------" footer="----------------------------------------" formatter="Brief Format Text" traceOutputOptions="None" filter="All"/>
      <add name="Formatted EventLog TraceListener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging" source="Enterprise Library Logging" formatter="Text Formatter" log="Application" machineName="" traceOutputOptions="None" filter="All"/>
      <add name="Rolling Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging" fileName="C:\Temp\RollingFlatFile.log" footer="----------------------------------------" formatter="Text Formatter" header="----------------------------------------" rollFileExistsBehavior="Increment" rollInterval="None" rollSizeKB="20" timeStampPattern="yyyy-MM-dd" maxArchivedFiles="3" traceOutputOptions="None" filter="All"/>
      <add name="UnprocessedFlatFile" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging" fileName="C:\Temp\Unprocessed.log" header="----------------------------------------" footer="----------------------------------------" formatter="Text Formatter" traceOutputOptions="None" filter="All"/>
      <add name="XML Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.XmlTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.XmlTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging" fileName="C:\Temp\XmlLogFile.xml" traceOutputOptions="None" filter="Error"/>
    </listeners>
    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging" template="Timestamp: {timestamp(local)}{newline}Message: {message}{newline}Category: {category}{newline}Priority: {priority}{newline}EventId: {eventid}{newline}ActivityId: {property(ActivityId)}{newline}Severity: {severity}{newline}Title:{title}{newline}" name="Brief Format Text"/>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging" template="Timestamp: {timestamp}{newline}Message: {message}{newline}Category: {category}{newline}Priority: {priority}{newline}EventId: {eventid}{newline}Severity: {severity}{newline}Title: {title}{newline}Activity ID: {property(ActivityId)}{newline}Machine: {localMachine}{newline}App Domain: {localAppDomain}{newline}ProcessId: {localProcessId}{newline}Process Name: {localProcessName}{newline}Thread Name: {threadName}{newline}Win32 ThreadId:{win32ThreadId}{newline}Extended Properties: {dictionary({key} - {value}{newline})}" name="Text Formatter"/>
    </formatters>
    <logFilters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Filters.PriorityFilter, Microsoft.Practices.EnterpriseLibrary.Logging" minimumPriority="2" maximumPriority="99" name="Priority Filter"/>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Filters.LogEnabledFilter, Microsoft.Practices.EnterpriseLibrary.Logging" enabled="true" name="LogEnabled Filter"/>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Filters.CategoryFilter, Microsoft.Practices.EnterpriseLibrary.Logging" categoryFilterMode="AllowAllExceptDenied" name="Category Filter">
        <categoryFilters>
          <add name="BlockedByFilter"/>
        </categoryFilters>
      </add>
    </logFilters>
    <categorySources>
      <add switchValue="All" name="BlockedByFilter">
        <listeners>
          <add name="Formatted EventLog TraceListener"/>
        </listeners>
      </add>
      <!--<add switchValue="All" name="CauseLoggingError">
        <listeners>
          <add name="CauseLoggingError"/>
        </listeners>
      </add>-->
      <add switchValue="All" name="Database">
        <listeners>
          <add name="Database Trace Listener"/>
        </listeners>
      </add>
      <add switchValue="All" name="DiskFiles">
        <listeners>
          <add name="FlatFile TraceListener"/>
          <add name="XML Trace Listener"/>
        </listeners>
      </add>
      <add switchValue="All" name="General">
        <listeners>
          <add name="Formatted EventLog TraceListener"/>
        </listeners>
      </add>
      <add switchValue="All" name="Important">
        <listeners>
          <add name="Formatted EventLog TraceListener"/>
          <add name="Rolling Flat File Trace Listener"/>
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events"/>
      <notProcessed switchValue="All" name="Unprocessed Category">
        <listeners>
          <add name="UnprocessedFlatFile"/>
        </listeners>
      </notProcessed>
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Formatted EventLog TraceListener"/>
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    <!--just testing this above ^^-->
    <add key="Unisoft.Helpdesk" value="01279 358 400"/>
    <add key="Unisoft.Hospital" value="The General Hospital"/>
    <add key="Unisoft.HospitalID" value="99"/>
    <add key="Unisoft.ApplicationTimeout" value="85"/>
    <add key="Unisoft.DisableAuditLog" value="False"/>
    <add key="Unisoft.RepEnableNHSStyle" value="True"/>
    <add key="Unisoft.AccessMode" value="Standard"/>
    <add key="Unisoft.DiagramHeight" value="400"/>
    <add key="Unisoft.DiagramWidth" value="350"/>
    <add key="Unisoft.ReportToBase" value="False"/>
    <add key="Unisoft.ShowOldProcedures" value="False"/>
    <add key="Unisoft.AllowCNNLogin" value="False"/>
    <add key="Unisoft.ActiveDirectoryLogin" value="False"/>
    <add key="Unisoft.ActiveDirectoryGroups" value="unisoft gastro admin,unisoft gastro manager,unisoft gastro regular,unisoft gastro read only,hd clinical employees"/>
    <add key="Unisoft.UseSecureActiveDirectory" value="False"/>
    <add key="Unisoft.SetupKeys" value="Gastro_DB|1"/>
    <add key="Unisoft.LicenseKey" value="+xyTFYRdW4X30JWA9+Ikf0H05/2c43y56u3BbObUU+tcZPViW3mT0Smm101iw91cH2iFIRRA2LtW2We4UpxWq9Ha000000SYMQTWLxVyYRPKf4x4dUoipuILEMwhbz4diKuoXQ9OdUPfx1Hgk/rJoqejIV8ed4jxbld5bBl4HHr2"/>
    <add key="NEDValidation.MailToAddress" value="andrea.johnson@hd-clinical.com"/>
    <add key="NEDValidation.MailCcAddress" value="duncan.stanyon@hd-clinical.com"/>
    <add key="Unisoft.NEDServiceSendEnabled" value="false"/>
    <add key="Unisoft.NEDValidationEmailEnabled" value="false"/>
    <add key="Unisoft.NEDXSDFileName" value="NEDi2.1.xsd"/>
    <add key="Unisoft.NEDXSDTargetNamespace" value="https://www.jets.nhs.uk/schema/hospital.sendbatchmessage-version2.xsd"/>
    <add key="SendErrorEmail" value="false"/>
    <add key="MailFromAddress" value="andrea.johnson@hd-clinical.com"/>
    <add key="MailToAddress" value="andrea.johnson@hd-clinical.com"/>
    <add key="MailCcAddress" value=""/>
    <add key="MailSubject" value="Error"/>
    <add key="MailDeliveryMethod" value="Network"/>
    <add key="MailHost" value="exchange.hd-clinical.com"/>
    <add key="MailPort" value="25"/>
    <add key="MailUserName" value="andrea.johnson@hd-clinical.com"/>
    <add key="MailPassword" value=""/>
    <add key="MailEnableSSL" value="false"/>
    <add key="LicenseExpiredMessage" value="Your license for Solus Endoscopy expired on %%ExpiryDate%%. Please contact HD Clinical on 01279 358 400"/>
    <add key="LicenseExpiringMessage" value="Your license for Solus Endoscopy will expire on %%ExpiryDate%%. Please contact HD Clinical on 01279 358 400"/>
    <add key="LicenseMessageDaysBefore" value="48"/>
    <add key="NEDEndpointAddress" value="https://jets.thejag.org.uk/webservice/Live/V2/2/Webservice.svc"/>
    <add key="PrintPreview" value="false"/>
    <add key="IsAzure" value="false"/>
    <add key="AzureFileStorageAccount" value="DefaultEndpointsProtocol=https;AccountName=sedemofiles;AccountKey=6+PjDB7x5XGpeQjvPuwNxmbd6RYQ6nMwnISBi52kCr7e1Tv+kA2aKYNVkzKS9gHlG0dZ+xMscfjSqHqLYWwG2w==;EndpointSuffix=core.windows.net"/>
    <add key="AzureBlobStorageAccount" value="DefaultEndpointsProtocol=https;AccountName=sedemoblob1;AccountKey=OEbN0U2At/2J+VstoSc3h3X5GbCSzE20AYQ5jbs8mJLF8bJb1QwEOLby0+nentnMdOhGFgHLeN7sBgB0O3tcBA==;EndpointSuffix=core.windows.net"/>
    <add key="EncryptedPassword" value="false"/>
    <add key="DisplayWaitlist" value="true"/>
    <!--AD Read Only Default: If true and using AD Authentication, users that are AD authenticated but either have no SE account or the account has expired will be logged in with Read Only access -->
    <add key="ActiveDirectoryReadOnlyDefault" value="false"/>
    <!--AD Domain override: If set here this Domain will be used in place of the Domain the current user is logged into-->
    <add key="ActiveDirectoryDomainOverride" value=""/>
    <!-- Required config entries for SE Upgrade for PAS -->
    <add key="UnisoftERS_ScotHospitalWebservice_SCIStoreServicesPort" value="https://ers.hd-clinical.com/StoreWS/Store81/SCIStoreServices.asmx"/>
    <add key="UnisoftERS_ScotHospitalWebservice_SCIStoreUserName" value="hdclinical"/>
    <add key="UnisoftERS_ScotHospitalWebservice_SCIStoreUserPassword" value="Pass1admin*"/>
    <add key="UnisoftERS_ScotHospitalWebservice_SCIStoreResultXmlOutputPath" value="C:\ERS\XmlOutput"/>
    <add key="DisplayWorklistImportExport" value="true"/>
    <add key="FilterScopeByOperatingHospital" value="true"/>
    <add key="FilterStaffByOperatingHospital" value="true"/>
    <add key="GPModuleActive" value="false"/>
	<add key="AnonymousField" value="ForeName,Surname,DOB,Patname"/>
    <!-- If below set to true or key is missing in webConfig - SE app will Save File content binary blob data into ERS_DocumentStore table -->
    <add key="SaveFileBlobContentToDatabase" value="true"/>
    <!-- If below set to false or key is missing in webConfig - SE app will not Save File content in Base64 string format into ERS_DocumentStore table -->
    <add key="SaveBase64FileContentToDatabase" value="false"/>
    <add key="NIPAPIURL" value="https://dev2.nip.scot.nhs.uk/services/fhirtochi/"/>
    <add key="NIPAPINoRecordFound" value="No patients found for this Chi Number. Amend your search criteria."/>
    <!--Default SignOn  mode , SSO for single sign on, N   for Normal Mode-->
    <add key="SignOnMode" value="N"/>
    <!--NHS SCotland will Pass Trust/Healthboard name as part of  group name  , Set Y for NHS SCotland and N for Normal Mode. This will taken when only when user logged on as SSO-->
    <add key="TrustNamePassedInSSOADGroupName" value="N"/>
    <!--SSOIDPMode will be O for OpenId and S for SAML2 -->
    <add key="SSOIDPMode" value="O"/>
    <add key="ClientId" value="16fc6126-e533-4537-aaa0-e222ff33882b"/>
    <add key="Tenant" value="2e631b7c-e82d-49b5-8aee-19a58c65d3b1"/>
    <!--Configure this when SSOIDPMode is  OpenId(O) -->
    <add key="Authority" value="https://login.microsoftonline.com/{0}/v2.0"/>
    <add key="redirectUri" value=""/>
    <!--Configure this when SSOIDPMode is  SAML2(S) -->
    <add key="Wtrealm" value="https://hdclinicaloutlook.onmicrosoft.com/{0}"/>
    <add key="MetadataAddress" value="https://login.microsoftonline.com/{0}/federationmetadata/2007-06/federationmetadata.xml"/>
    <add key="Telerik.ScriptManager.TelerikCdn" value="Disabled"/>
    <add key="Telerik.StyleSheetManager.TelerikCdn" value="Disabled"/>
    <!--Define the Cookie time -->
    <add key="CookieTime" value="600"/>
    <!--START - This Part for NHS Spine Search Configuration -->
    <!--SPINEAPIURL  contain url of The API developed for Spine Search  -->
    <add key="SPINEAPIURL" value="https://ers.hd-clinical.com/NHSSPINE"/>
    <add key="NHSSPINEAPINoRecordFound" value="No patients found for this NHS Number in NHS Spine. Amend your search criteria."/>
    <!--SPINEAPIKEY have  same values AS configured Key in SPINEAPIURL API  -->
    <add key="SPINEAPIKEY" value="THISISNHSSPINESERVICEKEYTHISISNHSSPINESERVICEKEY"/>
	<!--PostCode key available for redo 1578 AS configured Key. Here Value 'Y' will visible Post Code  and 'N' will invisible the Post Code option for patient search.  -->
	<add key="ShowPostCode" value="Y"/>
	<!--Audience have  same values AS configured in Audience of SPINEAPIURL API  -->
    <add key="Audience" value="https://localhost:44398/"/>
    <!--Issuer have  same values AS configured in Issuer of SPINEAPIURL API  -->
    <add key="Issuer" value="https://localhost:44398/"/>
    <add key="TimeOutInMinute" value="5"/>
    <!--END -This Part for NHS Spine Search Configuration-->
    <!--LetterStroageOption, FileSystem, Azure or Database (Defualt)-->
    <add key="LetterStorageOption" value=""/>
    <!--LetterStorageUNC used for FileSystem Letter Storage option to provide path for letters to be saved, if not set this defaults to the ~\App_Data\Letters folder in the application directory on the web server-->
    <add key="LetterStorageUNC" value=""/>
    <!--AzureLetterStorageShare used for Azure Letter Storage option to provide Azure Fileshare for letters to be saved, if not set this defaults to a share named "letters"-->
    <add key="AzureLetterStorageShare" value=""/>
    <add key="SetDefaultImageport" value="true"/>
    <add key="AnonymousField" value="ForeName,Surname,DOB,Patname"/>
    <add key="ValidateGMCCode" value="false"/>
  </appSettings>
  <connectionStrings>
    <!--SE Azure -->
    <!--<add name="Gastro_DB" connectionString="Data Source=hdcdemosvr.database.windows.net,1433;Initial Catalog=SE2_Demo;Persist Security Info=False;User ID=system;Password=uer239P1#;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient"/>-->
    <!--SE_Dev-->
    <!--<add name="Gastro_DB" connectionString="Data Source=sQLDev2017;Initial Catalog=Brighton_SE216JanNew;Persist Security Info=True;User ID=unisoft;Password=yTlxh+zuIwxVLlaI65YkDw==" providerName="System.Data.SqlClient" />-->
    <!--<add name="Gastro_DB" connectionString="Data Source=ERS; Initial Catalog=SE2_Dev; Persist Security Info=True;User ID=unisoft;Password=yTlxh+zuIwxVLlaI65YkDw==" providerName="System.Data.SqlClient"/>-->
  <add name="Gastro_DB" connectionString="server=DESKTOP-1MV0G18;database=SE2_Rifat_08;integrated security=true;TrustServerCertificate=true;User ID=na;Password=12345" providerName="System.Data.SqlClient"/>  
  <add name="GastroDbEntities" connectionString="metadata=res://*/ERS_Model.csdl|res://*/ERS_Model.ssdl|res://*/ERS_Model.msl;provider=System.Data.SqlClient;             provider connection string=&quot;data source={0};initial catalog={1};persist security info=True;user id={2};password={3};             MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <httpCookies requireSSL="true"/>
    <globalization culture="en-GB"/>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.7.2">
      <assemblies>
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Speech, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="DevExpress.Web.ASPxRichEdit.v20.1, Version=20.1.10.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.Web.v20.1, Version=20.1.10.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.RichEdit.v20.1.Core, Version=20.1.10.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.Data.v20.1, Version=20.1.10.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.Printing.v20.1.Core, Version=20.1.10.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.Office.v20.1.Core, Version=20.1.10.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.Web.ASPxSpellChecker.v20.1, Version=20.1.10.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.SpellChecker.v20.1.Core, Version=20.1.10.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.DynamicData, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.ComponentModel.DataAnnotations, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Xml.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
      </buildProviders>
    </compilation>
    <customErrors mode="Off"/>
    <pages controlRenderingCompatibilityVersion="4.0" enableSessionState="true">
      <namespaces>
        <clear/>
        <add namespace="System"/>
        <add namespace="System.Collections"/>
        <add namespace="System.Collections.Generic"/>
        <add namespace="System.Collections.Specialized"/>
        <add namespace="System.Configuration"/>
        <add namespace="System.Text"/>
        <add namespace="System.Text.RegularExpressions"/>
        <add namespace="System.Linq"/>
        <add namespace="System.Xml.Linq"/>
        <add namespace="System.Web"/>
        <add namespace="System.Web.Caching"/>
        <add namespace="System.Web.SessionState"/>
        <add namespace="System.Web.Security"/>
        <add namespace="System.Web.Profile"/>
        <add namespace="System.Web.UI"/>
        <add namespace="System.Web.UI.WebControls"/>
        <add namespace="System.Web.UI.WebControls.WebParts"/>
        <add namespace="System.Web.UI.HtmlControls"/>
        <add namespace="System.Data"/>
        <add namespace="System.Data.SqlClient"/>
        <add namespace="System.Diagnostics"/>
        <add namespace="Microsoft.VisualBasic"/>
        <add namespace="Telerik.Web.UI"/>
        <add namespace="System.Drawing"/>
        <add namespace="System.Drawing.Imaging"/>
        <add namespace="System.Drawing.Drawing2D"/>
      </namespaces>
      <controls>
        <add tagPrefix="telerik" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI"/>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt"/>
        <add tagPrefix="dx" namespace="DevExpress.Web" assembly="DevExpress.Web.v20.1, Version=20.1.10.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxTreeList" assembly="DevExpress.Web.ASPxTreeList.v20.1, Version=20.1.10.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxPivotGrid" assembly="DevExpress.Web.ASPxPivotGrid.v20.1, Version=20.1.10.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxSpellChecker" assembly="DevExpress.Web.ASPxSpellChecker.v20.1, Version=20.1.10.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxHtmlEditor" assembly="DevExpress.Web.ASPxHtmlEditor.v20.1, Version=20.1.10.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxRichEdit" assembly="DevExpress.Web.ASPxRichEdit.v20.1, Version=20.1.10.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxSpreadsheet" assembly="DevExpress.Web.ASPxSpreadsheet.v20.1, Version=20.1.10.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
      </controls>
    </pages>
    <httpHandlers>
      <add path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" validate="false"/>
      <add path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" validate="false"/>
      <add path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" validate="false"/>
      <add path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" validate="false"/>
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false"/>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false"/>
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v20.1, Version=20.1.10.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="DX.ashx" validate="false"/>
      <add type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v20.1, Version=20.1.10.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" validate="false"/>
    </httpHandlers>
    <httpModules>
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v20.1, Version=20.1.10.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule"/>
    </httpModules>
    <httpRuntime maxRequestLength="800000" targetFramework="4.7.2" enableVersionHeader="false"/>
    <!--<sessionState timeout="30" />-->
    <authentication mode="Windows"/>
    <authorization>
      <allow users="*"/>
    </authorization>
    <profile defaultProvider="DefaultProfileProvider">
      <providers/>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers/>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers/>
    </roleManager>
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="500000"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="X-Frame-Options" value="SAMEORIGIN"/>
        <add name="X-Content-Type-Options" value="nosniff"/>
        <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains"/>
        <add name="Content-Security-Policy" value="frame-ancestors 'self'"/>
        <add name="Referrer-Policy" value="no-referrer"/>
        <add name="Permissions-Policy" value="geolocation=(), camera=(), microphone=()"/>
        <remove name="X-Powered-By"/>
        <remove name="Server"/>
      </customHeaders>
    </httpProtocol>
    <security>
      <requestFiltering removeServerHeader="true">
        <requestLimits maxAllowedContentLength="819200000"/>
      </requestFiltering>
    </security>
    <defaultDocument enabled="true">
      <files>
        <clear/>
        <add value="default.aspx"/>
      </files>
    </defaultDocument>
    <caching enabled="false" enableKernelCache="false"/>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true">
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v20.1, Version=20.1.10.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule"/>
    </modules>
    <handlers>
      <remove name="ChartImage_axd"/>
      <add name="ChartImage_axd" path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" preCondition="integratedMode"/>
      <remove name="Telerik_Web_UI_SpellCheckHandler_axd"/>
      <add name="Telerik_Web_UI_SpellCheckHandler_axd" path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" preCondition="integratedMode"/>
      <remove name="Telerik_Web_UI_DialogHandler_aspx"/>
      <add name="Telerik_Web_UI_DialogHandler_aspx" path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" preCondition="integratedMode"/>
      <remove name="Telerik_RadUploadProgressHandler_ashx"/>
      <add name="Telerik_RadUploadProgressHandler_ashx" path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" preCondition="integratedMode"/>
      <remove name="Telerik_Web_UI_WebResource_axd"/>
      <add name="Telerik_Web_UI_WebResource_axd" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" preCondition="integratedMode"/>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
      <add name="AjaxFileUploadHandler" verb="*" path="AjaxFileUploadHandler.axd" type="AjaxControlToolkit.AjaxFileUploadHandler, AjaxControlToolkit"/>
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v20.1, Version=20.1.10.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="DX.ashx" name="ASPxHttpHandlerModule" preCondition="integratedMode"/>
      <add type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v20.1, Version=20.1.10.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" name="ASPxUploadProgressHandler" preCondition="integratedMode"/>
    </handlers>
    <staticContent>
      <remove fileExtension=".svg"/>
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml"/>
    </staticContent>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService"/>
        <binding name="BasicHttpBinding_IService1"/>
        <binding name="BasicHttpBinding_IWebService">
          <security mode="Transport"/>
        </binding>
        <binding name="BasicHttpBinding_IWebService1">
          <security mode="Transport"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:62546/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService" contract="UnisoftWebService.IService" name="BasicHttpBinding_IService"/>
      
      <endpoint address="https://jets.thejag.org.uk/webservice/Live/V2/2/webservice.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWebService1" contract="NEDWebService.IWebService" name="BasicHttpBinding_IWebService1"/>
    </client>
  </system.serviceModel>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="ers@hd-clinical.com">
        <network host="odin-dc01.hd-clinical.com" port="25" userName="" password="" enableSsl="false"/>
      </smtp>
    </mailSettings>
  </system.net>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <applicationSettings>
    <UnisoftERS.My.MySettings>
      <setting name="UnisoftERS_NEDWeblogic_Webservice" serializeAs="String">
        <value>https://jets.thejag.org.uk/webservice/Live/V2/2/Webservice.svc</value>
      </setting>
      <setting name="UnisoftERS_ScotHospitalWebservice_SCIStoreServicesPort" serializeAs="String">
        <value>http://192.168.8.135:8080/StoreWS/Store81/SCIStoreServices.asmx</value>
      </setting>
      <setting name="UnisoftERS_ScotHospitalWebservice_SCIStoreUserName" serializeAs="String">
        <value>hdclinical</value>
      </setting>
      <setting name="UnisoftERS_ScotHospitalWebservice_SCIStoreUserPassword" serializeAs="String">
        <value>Pass1admin*</value>
      </setting>
      <setting name="UnisoftERS_ScotHospitalWebservice_SCIStoreResultXmlOutputPath" serializeAs="String">
        <value>C:\ERS\XmlOutput</value>
      </setting>
    </UnisoftERS.My.MySettings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="89845dcd8080cc91" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-9.3.2.0" newVersion="9.3.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Windows.Documents.Spreadsheet" publicKeyToken="5803cfa389c90ce7" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2022.2.428.40" newVersion="2022.2.428.40"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Windows.Documents.Core" publicKeyToken="5803cfa389c90ce7" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2022.2.428.40" newVersion="2022.2.428.40"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Windows.Documents.Spreadsheet.FormatProviders.OpenXml" publicKeyToken="5803cfa389c90ce7" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2022.2.428.40" newVersion="2022.2.428.40"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Windows.Documents.Flow" publicKeyToken="5803cfa389c90ce7" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2022.2.428.40" newVersion="2022.2.428.40"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.0" newVersion="4.0.4.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Tokens" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.0.2.0" newVersion="7.0.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Protocols" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.0.2.0" newVersion="7.0.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Logging" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.0.2.0" newVersion="7.0.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Protocols.OpenIdConnect" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.0.2.0" newVersion="7.0.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.0.2.0" newVersion="7.0.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Xml" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.0.2.0" newVersion="7.0.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Tokens.Saml" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.0.2.0" newVersion="7.0.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.9.0" newVersion="5.2.9.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <devExpress>
    <themes enableThemesAssembly="true" styleSheetTheme="" theme="" customThemeAssemblies="" baseColor="" font=""/>
    <compression enableHtmlCompression="false" enableCallbackCompression="true" enableResourceCompression="true" enableResourceMerging="true"/>
    <settings accessibilityCompliant="false" bootstrapMode="" doctypeMode="Html5" rightToLeft="false" checkReferencesToExternalScripts="true" protectControlState="true" ieCompatibilityVersion="edge"/>
    <errors callbackErrorRedirectUrl=""/>
  </devExpress>
</configuration>